<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>UserList</title>
  <link href="/static/assets/styles/main.css" rel="stylesheet" />
</head>

<body>
  <div class="container record-container">
    <div class="record-title">
      <div class="span th-0">UUID</div>
      <div class="span th-1">基金代码</div>
      <div class="span th-1">基金名称</div>
      <div class="span th-2">基金价格</div>
      <div class="span th-3">投入资金</div>
      <div class="span th-4">投入日期</div>
      <div class="span th-4">是否超过7天</div>
      <div class="span th-5">持有份额</div>
      <div class="span th-5">当前基金价格</div>
      <div class="span th-5">盈亏</div>
      <div class="span th-5">盈亏百分比</div>
    </div>
    <ul class="record-content">
      {{#each data}}
      <li class="">
        <div class="span th-0">
          <span>{{_id}}</span>
        </div>
        <div class="span th-1">{{fundCode}}</div>
        <div class="span th-1">{{fundNmae}}</div>
        <div class="span th-2">{{fundPrice}}</div>
        <div class="span th-3">{{usePrice}}</div>
        <div class="span th-4">{{useTime}}</div>
        <div class="span th-4">{{validDay}}</div>
        <div class="span th-5">{{useTotal}}</div>
        <div class="span th-5">{{nowPrice}}</div>
        <div class="span th-5">{{profitLoss}}</div>
        <div class="span th-5">{{lossPercent}}</div>
      </li>
      {{/each}}
    </ul>
  </div>
  <script>
    //window.setInterval(function(){
    //  window.location.reload();
    //},200);
  </script>
</body>

</html>