<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>UserList</title>
  <link href="/static/assets/styles/main.css" rel="stylesheet" />
</head>

<body>
  <div>
    <img src="/static/assets/icon/30px/payorder.png" alt="" />
  </div>
  <div class="container record-container">
    <div class="record-title">

    </div>
    <ul class="record-content">
      {{#each data}}
      <li class="">
        <div class="span th-0">
          <span>{{uuid}}</span>
        </div>
        <div class="span th-1">{{username}}</div>
        <div class="span th-2">{{age}}</div>
        <div class="span th-3">{{sex}}</div>
        <div class="span th-4">{{status}}</div>
        <div class="span th-5">{{atime}}</div>
      </li>
      {{/each}}
    </ul>
  </div>
  <script>
    //window.setInterval(function(){
    //  window.location.reload();
    //},200);
  </script>
</body>

</html>